<% include partials/head %>
<% include partials/header %>


<div class="main">
  <div class="sec">
    <p id="main-p"> Inspired by the functionaliy of reddit, and the simplicity of twitter, we provide a safe space for those who struggle with mental health.<br/><br/>
      welcome to sanity. </p>
    <h6><a class="h6-main"  href="/login">Sign in</a></h6>
    <h6><a  class="h6-main" href="/signup">Sign up</a></h6>
  </div>
    <img src="https://images.pexels.com/photos/1589865/pexels-photo-1589865.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="main">
</div>

<% include partials/footer %>
